:root{
	/* color pallete */
	--white-color:#fff;
	--black-color:#000;
	--primary-color:#C72727;
	--sport-color:#F99500;
	--entertainment-color:#A66BBE;
	--technology-color:#009CFF;
	--light-color:#F3F3F3;
	--dark-color:#333333;
}