:root{
	/* color pallete */
	--white-color:#fff;
	--black-color:#000;
	--primary-color:#C72727;
	--sport-color:#F99500;
	--entertainment-color:#A66BBE;
	--technology-color:#009CFF;
	--light-color:#F3F3F3;
	--dark-color:#333333;
	--icon-color:#444;

	/* fonts */
	--heading-font: "Staatliches", sans-serif;
	--text-font: "Lato", sans-serif;

	/* max width */
	--max-width:1100px;

	/* border radius */
	--little-radius:5px;
	--big-radius:50px;
}
/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: var(--text-font);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a{
  color: #333;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* typogrpahy */
h1, h2, h3, h4{
	font-family: var(--heading-font);
	line-height: 1.2;
	text-transform: uppercase;
	margin-bottom: 1.4rem;
}
h1{
	font-size: 4.77rem;
}
h2{
	font-size: 3.98rem;
}
h3{
	font-size: 3.31rem;
}
p{
	margin: 1rem 0;
}

/* containers */
.container{
	max-width: var(--max-width);
	margin: 0 auto;
}
.padding{
	padding: 2rem;
}
.flex{
	display: flex;
}
.grid{
	display: grid;
}

/* utilities */
.hide{
	display: none;
}

/* input */
::placeholder{
	color: var(--dark-color);
}
.input{
	outline: none;
	border:none;
	width: 100%;
	padding:1rem 1.5rem;
	border-radius: var(--little-radius);
}

/* icon */
.icon{
	font-size: 3.5rem;
	color: var(--icon-color);
	cursor: pointer;
}
.icon:hover{
	color: var(--primary-color);
}
.icon-group{
	gap: 1.5rem;
}

/* box */
.box{
	padding: 1.5rem;
	background: var(--white-color);
	color: var(--dark-color);
}
.box--primary{
	background: var(--primary-color);
	color: var(--white-color);
}
.box--sport{
	background: var(--sport-color);
	color: var(--white-color);
}
.box--technology{
	background: var(--technology-color);
	color: var(--white-color);
}
.box--entertainment{
	background: var(--entertainment-color);
	color: var(--white-color);
}

/* badge */
.badge{
	display: inline-block;
	padding: .8rem 2.6rem;
	border-radius: var(--big-radius);
	font-family: var(--heading-font);
	font-size: 1.9rem;
	text-transform: uppercase;
	color: var(--white-color);
}
.badge--sport{
	background: var(--sport-color);
}
.badge--entertainment{
	background: var(--entertainment-color);
}
.badge--technology{
	background: var(--technology-color);
}

/* button */
.btn{
	display: inline-block;
	outline: none;
	border: none;
	background: transparent;
	padding: 1rem 2.5rem;
	font-size: 1.9rem;
	text-transform: capitalize;
	letter-spacing: .5px;
	cursor: pointer;
	color: var(--white-color);
}
.btn:hover{
	opacity: .8;
}
.btn--block{
	display: block;
	width: 100%;
	text-align: center;
}
.btn--primary{
	background: var(--primary-color);
}
.btn--sport{
	background: var(--sport-color);
}
.btn--black{
	background: var(--black-color);
}
.btn--dark{
	background: var(--dark-color);
}